{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for capture in product.productimage_set.all %}
                    <img src="{{ capture.image.url }}" class="product-picture">
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="product-name">
                    {{ product.name }}
                </h1>
                <div class="product-author">
                    Автор : {{ product.autrhor }}
                </div>
                <div class="product-price">
                    <p>
                        Ціна : {{ product.price }} гривень
                    </p>
                </div>
                <div class="product-desc">
                    {{ product.description }}
                </div>
                <div>
                    <form id="buy_form" class="form-inline">
                        <div class="form-group">
                             <input type="number" class="form-control" name="number" id="number">
                        </div>
                            <div class="form-group">
                                <button type="submit" id="submit_btn" class="btn btn-info buy_button"
                                    data-product_id = "{{ product.id }}"
                                    data-name = "{{ product.name }}"
                                    data-price = "{{ product.price }}">
                                    Купити
                                </button>
                            </div>
                    </form>
                </div>
        </div>
    </div>
    </div>
{% endblock %}