html , body{
    height:100%;
    max-height: 100%;
    background-color: #dbdbdb;
}


.product-item{
    position: relative;
    padding: 25px;
    border: 1px solid grey;
    height: 500px;
    background: lightgrey;
    text-align: center;
}

.add-to-cart-btn{
    position: absolute;
    bottom: 10px;
    left: 100px;/*Тут тре шось придумати*/

}