<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BookReader</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Додому</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Випадаючий список <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_authenticated %}
                    <li>
                        <a class="exit-button" href="http://127.0.0.1:8000/logout/">Вихід</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-secondary btn-lg"
                                disabled>{{ request.user.username }}</button>
                    </li>
                    <li>
                        <div class="basket-container">
                            <a href="http://127.0.0.1:8000/basket/">Корзина</a>
                            <div class="basket-item" hidden>
                                <ul class="">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="http://127.0.0.1:8000/register/">Реєстрація</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/login"> Вхід </a>
                    </li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--
          <ul class="nav navbar-nav navbar-right">
            <li class="register"><a href="http://127.0.0.1:8000/register/">Реєстрація</a></li>
            <li class="register"><a href="http://127.0.0.1:8000/signup/">Логін</a></li>
          </ul>
-->