{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--BOOTSTRAP-->


    <link rel="stylesheet" href="{% static 'style.css' %}">

    <meta charset="UTF-8">
    <title>Easter egg</title>
</head>
<body>

    <h4>2pac 4Life</h4>
    <h2>Summa : {{ suma }}</h2>





   <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



</body>
</html>