{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>


    <!--Bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400&amp;subset=cyrillic-ext" rel="stylesheet"> <!-- Кастомний шрифт -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}"> <!-- Підключаєм ксс -->
    <meta charset="UTF-8">
    <title>Назва сторінки</title>



</head>
<body>
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Скоро відкриття<br>Вкажіть ваш емейл у формі</h1>
                        <div>
                            <form action="" method= "post" class = "form form-inline text-center">{% csrf_token %}
                                <div class="form-group">
                                    <label>Ваш емейл: </label>
                                    <input name="{{ form.email.name }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Ваше імя: </label>
                                    <input name="{{ form.name.name }}" class="form-control">
                                </div>
                                    <button type="submit" class="btn btn-secondary">Відправити</button> <!-- Кнопка "Відправити"  в оформленні BootStrap  -->
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>