{% extends 'base.html'%}

{% load static %}

{% block content %}
{#    <div class="section-top">#}
{#        <img src="{% static 'img/fon.jpg' %}" class="img-responsive">#}
{#    </div>#}
    <div class="section">
        <div class="container">
            <div class="row">
                {% for item in products %}
                    <div class="col-lg-4">
                        <div class="product-item">
                            {{ item.name }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}