{% extends 'base.html'%}

{% load static %}

{% block content %}
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Новинки
                    </h1>
                </div>
                {% for item in products_images %}
                    {% include 'landing/shablon.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section2 ukrainian-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Cвітові бестселери
                    </h1>
                </div>
                {% for item in products_images_ukrainian %}
                    {% include 'landing/shablon.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section3 world-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Українська класика
                    </h1>
                </div>
                {% for item in products_images_world %}
                    {% include 'landing/shablon.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}